@charset "utf-8";

/* Universal Settings */
html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

    /* Header Settings */
    header nav {
        display: block;
        text-align: right;
        border-color: black;
        font-size: 3rem;
    }
        /* Navigation Header Settings */
        header nav ul {
            list-style-type: none;
            list-style: none;
            
        }

        header nav li {
            display: inline;
            padding:40px;
        }

