@charset "utf-8";
html {
    font-family: Helvetica, Arial, sans-serif;
}

nav {
    align-self: center;
    display: block;
    border-color: black;
}

nav ul {
    list-style-type: none;
    list-style: none;
    
}

nav li{
    display: inline;
}

