@charset "utf-8";

/* Universal Settings */
html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;    
    color: whitesmoke;
    background-color: hsl(240, 52%, 6%)
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bolder;
    color: whitesmoke;
}
a:hover {
    color: rgba(18, 82, 18, 0.7);
}
html {
    background-image: url("../photos/misty-forest.jpeg");
    background-size: cover;
}

    /* Top Nav Bar */
    body header nav ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
        padding: 2rem 0;
        background-color: hsla(240, 4%, 17%, 0.466);;
        width:100%;
        box-shadow: 0px 0px 0.75rem hsla(240, 4%, 17%, 0.466);
    }
    
    /* Main Body Styles */

        /* Name Title */
        body dl dt#dt1index {
            display: flex;
            margin: 8rem auto;
            justify-content: center;
        }
        
        body dl dt a {
            font-size: 6rem;
            text-align: center;
        }
        /* Under Titles */
        body dl dt#dt2index {
            display: flex;
            justify-content: center;
        }
        body dl dt#dt2index ul{
            display: flex;
            list-style: square;
            flex-flow: column wrap;
            font-size: 2rem;
        }
        
        /*Short Description*/
        body dl dd {
            display: flex;
            margin: 5rem auto;
            font-size: 2rem;
            text-align: center;
            justify-content: center;
            width: 60%;
        }

        /*Nav buttons*/
        body dl nav {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            justify-content: space-around;
        }
        
