@charset "utf-8";

/* Universal Settings */
html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

body {
    background-color: orangered;
    margin:0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color:orangered;
}
ul {
    padding: 0;
}
/*Body Settings*/

    /* Header Settings */
    header nav {
        display: block;
        text-align: right;
        border-color: black;
        font-size: 1.5rem;
        margin: auto;
        padding: auto;;
        position: fixed;
        top:0;
        background-color: hsl(0, 0%, 20%);
        width:100%;
        box-shadow: 0px 0px 0.75rem hsl(0, 0%, 10%);
    }
        /* Navigation Header Settings */
        header nav ul {
            list-style-type: none;
            list-style: none;
            padding-right: 2rem;
        }

        header nav li {
            display: inline;
        }

        header nav li+li:before {
            content: "|";
            color: white;
            margin-right: 1rem;
            margin-left: 1rem;
        }

        header nav li a {
            color: white;
            text-decoration: none;
            font-weight:bolder;
            
        }
        header nav ul a:hover {
            color: black;
        }

        header nav li a#index {
            text-decoration: underline;
        }

    /*First Element Settings*/
        
        body dl#section1 {
            text-align: center;
            background-position: center;
            width: 90%;
            margin:auto;
            border-radius: 3rem;
            background-size: 80%;
            padding-top: 10%;
            padding-bottom: 6rem;
            margin-top: 8%;
            margin-bottom: 4%;
            background-color: hsl(0, 0%, 20%);
            box-shadow: 0px 0px 0.75rem hsl(0, 0%, 10%);
        }
        
        body dl nav#calltoaction {
            margin-top: 5rem;
        }

        body dl a#Github {
            background-color: orangered;
        }

        body dl a#emailindex {
            background-color: orangered;
        }

    /*Second Element Settings*/
        body dl dd {
            display:flex;
            text-align: center;
            max-width: 300px;
            
        }    
            /*Name Settings*/
            dt#name {
                font-size: 6rem;
                text-align: center;
                margin-top: 14rem;
                color: white;
                margin: 0;
            }

            dt#name a {
                color:white;
            }
            dt#name a:hover {
                color: black;
            }

            /*Title Settings*/
            body dl dt ul#titles li {
                margin-bottom: 10rem;
            }

            body dl dt ul#titles li {
                display: inline;
                font-size: 2rem;
                color: orangered;
            }

            body dl dt ul#titles li+li:before {
                content:"|";
                margin-left: 0.75rem;    
                margin-right: 0.75rem;        
            }

        body dl dd#indexaboutshort {
            display: inline;                              
            font-size: 1.5rem;
            text-align: center;                          
            margin: auto;
            color: orangered;
        }

        body dl#section2 {
            height: 850px;
            background-color: rgb(255, 255, 255);
            border-radius: 3rem;
            margin-left: 2%;
            margin-right: 2%;
            box-shadow: 0px 0px 0.75rem hsl(0, 0%, 10%);
        }

        body dl#section3 dd img {
            margin-top: 5rem;
           
            max-width: 1920px;
            max-height:850px;
            border-radius: 3rem; 
            box-shadow: 0px 0px 0.75rem hsl(0, 0%, 10%);
        }

    /*favicon settings*/
    nav#favicons {
        text-decoration: none;
        text-align: center;
        align-items: center;
        margin-top: 34rem;
    }

    a#Github {
        font-size: 3rem;
        font-weight: bold;
        margin-top:2rem;
        padding:1.5rem;
        border-radius: 3rem;
        margin-left: 8rem;
        margin-right: 8rem;
        margin-bottom:2rem;
        color:white;
    }
    a#emailindex {
        font-size: 3rem;
        font-weight: bold;
        margin-top:2rem;
        padding:1.5rem;
        border-radius: 3rem;
        margin-left: 8rem;
        margin-right: 8rem;
        color:white;
        margin-bottom:2rem;
    }
    
    

   

    